<div class="flex admin-top-nav h-16 shadow">
  <div class="w-full p-2 self-center">
    <LinkTo @route='admin.dashboard' class="text-sage text-white mr-8">
      Dashboard
    </LinkTo>
    <LinkTo @route='admin.dashboard' class="text-sage text-white mr-8">
      Invites
    </LinkTo>
    <LinkTo @route='admin.dashboard' class="text-sage text-white mr-8">
      People
    </LinkTo>
  </div>
</div>